<!DOCTYPE HTML>
<html>

  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">>
    <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  </head>
  <body>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.4.10/leaflet.draw.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.4.10/leaflet.draw.js'></script>
    <div id='map'></div>
    <script>
      L.mapbox.accessToken = 'pk.eyJ1Ijoic3Vkb2FsZSIsImEiOiJja2xycmM0ajMwMnk4MndvM3hhbzZibWwyIn0.RuIhdlfw4W7vJhQjvOdr3A';

      var map = L.mapbox.map('map')
      .setView([46.89399, 8.73659], 15)
      .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/outdoors-v11'));

      var featureGroup = L.featureGroup().addTo(map);

      var drawControl = new L.Control.Draw({
        edit: {
          featureGroup: featureGroup
        }
      }).addTo(map);

      map.on('draw:created', function(e) {
          featureGroup.addLayer(e.layer);
          validatePolyline(e.layer.toGeoJSON().geometry);
      });


      function validatePolyline(geometry){
        request_data = {"geom": geometry};
        request = $.ajax({
          url: "/validate",
          type: "post",
          contentType: "application/json",
          data: JSON.stringify(request_data)
        });
        request.done(function (response, textStatus, jqXHR){
            console.log("it worked");
            $('#plot').attr('src', response);
        });
      }

    </script>
  </body>

</html>
